@model Customer
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Are you sure to delete the customer?</h2>
</div>
<h2>@Model.customer_name</h2>
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">Customer ID: @Model.customer_id</li>
            <li class="list-group-item">Customer Name: @Model.customer_name</li>
            <li class="list-group-item">Customer Phone: @Model.customer_phone</li>
            <li class="list-group-item">Customer Email: @Model.customer_email</li>
            <li class="list-group-item">Customer Password: @Model.customer_password</li>
            <li class="list-group-item">Customer Gender: @Model.customer_id_gender</li>
            <li class="list-group-item">Customer Country: @Model.customer_country</li>
            <li class="list-group-item">Customer City: @Model.customer_id_city</li>
            <li class="list-group-item">Customer Address: @Model.customer_address</li>
        </ul>
        <a href="@Url.Action("deleteCustomer","Admin",new { id=Model.customer_id})" class="btn btn-danger">Delete Customer</a>
        <a href="@Url.Action("fetchCustomer","Admin")" class="btn btn-warning">Back to List</a>
    </div>

    <div class="col-md-2"></div>
</div>
