@using EcommerceInAsp.NetCore.ViewModel
@model List<OrderViewModel>
@{
    ViewData["Title"] = "ShowOrders";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>ShowOrders</h1>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Product Name</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Customer Name</th>
                    <th>Order Status</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.ProductName</td>
                        <td>@item.ProductId</td>
                        <td>@item.Quantity </td>
                        <td>@item.CustomerName</td>
                        @if (@item.Status == 0)
                        {
                            <td>Pending</td>
                        }
                        else { 
                            <td>Delievered</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
