@model Customer
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Customer Details</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.customer_id" name="customer_id" />
            <input type="text" value="@Model.customer_name" name="customer_name" class="form-control my-3" />
            <input type="text" value="@Model.customer_phone" name="customer_phone" class="form-control my-3" />
            <input type="text" value="@Model.customer_email" name="customer_email" class="form-control my-3" />
            <input type="text" value="@Model.customer_password" name="customer_password" class="form-control my-3" />
            <input type="text" value="@Model.customer_id_gender" name="customer_id_gender" class="form-control my-3" />
            <input type="text" value="@Model.customer_country" name="customer_country" class="form-control my-3" />
            <input type="text" value="@Model.customer_id_city" name="customer_id_city" class="form-control my-3" />
            <input type="text" value="@Model.customer_address" name="customer_address" class="form-control my-3" />
            <input type="file" value="@Model.customer_image" name="customer_image" class="form-control my-3" />
            <input type="submit" value="Update Customer" class="form-control my-3 btn btn-primary"/>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>